{{- $letter := .Get 0 | upper -}}
{{- $idx := .Get 1 | default 0 | int -}}
{{- $pattern := printf "letters/%s_*.webp" $letter -}}
{{- $imgs := resources.Match $pattern -}}
{{- if $imgs -}}
{{- $img := index $imgs (mod $idx (len $imgs)) -}}
{{- $resized := $img.Resize "80x webp" -}}
<span class="dropcap-wrap" data-german="{{ index (split (replaceRE "\\.webp$" "" (path.BaseName $img.Name)) "_") 1 | default "" }}" data-english="{{ index (split (replaceRE "\\.webp$" "" (path.BaseName $img.Name)) "_") 2 | default "" }}" data-large="{{ ($img.Resize "200x webp").RelPermalink }}">
    <img src="{{ $resized.RelPermalink }}" alt="Letter {{ $letter }}" class="dropcap" width="80" height="80" loading="lazy">
</span>
{{- end -}}